.blog {
    background-color: #f4f5f9;
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &__title {
        font-size: 36px;    
        font-weight: 700;
        font-family: 'Source Sans Pro';
        color: #6a6a6a;
    }
    &__subtitle {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Open Sans';
        color: #999999;
    }
    &__line {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        .line-left {
            width: 80px;
            height: 1px;
            background-color: #999999;
            margin-right: 15px;
        }
        .line-right {
            width: 80px;
            height: 1px;
            background-color: #999999;
            margin-left: 15px;
        }
        div {
            width: 7px;
            height: 7px;
            background-color: #e74c3c;
            border-radius: 50%;
        }
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
    }
    &__item {
        width: 50%;
        display: flex;
        &:nth-child(3) {
            .blog__item-info__wrapper::before {
                margin-left: 16px;
                left: 98%;
                transform: translateY(-50%) rotate(270deg
            );
            }
        }
        &:last-child {
            .blog__item-info__wrapper::before {
                margin-left: 16px;
                left: 98%;
                transform: translateY(-50%) rotate(270deg
            );
            }
        }
    }
    &__item-img {
        width: 50%;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__item-name {
        font-size: 14px;
        font-weight: 400;
        font-family: 'Open Sans';
        color: #fff;
    }
    &__item-info {
        max-width: 50%;
        background-color: #e74c3c;
    }
    &__item-info__wrapper {
        position: relative;
        padding: 40px;
        &:before {
            position: absolute;
            top: 50%;
            left: -90px;
            display: block;
            height: 70px;
            border-width: 32px 40px 0;
            border-style: solid;
            border-color: #e74c3c transparent;
            margin: 0 auto;
            content: '';
            transform: translateY(-50%) rotate(90deg);
        }
    }
    &__item-title {
        margin-top: 20px;
        font-size: 24px;
        font-weight: 600;
        font-family: 'Source Sans Pro';
        color: #fff;
    }
    &__item-line { 
        margin-top: 15px;
        margin-bottom: 40px;
        width: 44px;
        height: 4px;
        background-color: #fff;
    }
    &__item-subtitle {
        margin-bottom: 30px;
        margin-right: 30px;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Open Sans';
        color: #fff;
    }
    &__item-link {
        font-size: 18px;
        font-weight: 600;
        font-family: 'Open Sans';
        font-style: italic;
        text-decoration: none;
        color: #fff;
        &:hover {
            text-decoration: underline;
            transition: .3s all ease;
        }
    }
}
@media screen and (max-width: 1200px) {
    .page-wrapper {
        .blog {
            &__item {

            }
            &__item-info__wrapper {
                padding: 30px;
            }
        }
    }
}
@media screen and (max-width: 1070px) {
    .page-wrapper {
        .blog {
            &__item-info__wrapper {
                padding: 25px;
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    .page-wrapper {
        .blog {
            &__item {
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .page-wrapper {
        .blog {
            &__item {
                width: 100%;
            }
            &__item-info {
                max-width: 50%;
            }
            &__item-subtitle {
                margin-bottom: 15px;
                margin-right: 10px;
            }
        }
    }
}
@media screen and (max-width: 450px) {
    .page-wrapper {
        .blog {
            &__item {
                width: 100%;
            }
            &__item-img {
                display: none;
            }
            &__item-info {
                max-width: 100%
            }
            &__item-subtitle {
                margin-bottom: 15px;
                margin-right: 10px;
            }
        }
    }
}