.prices {
    padding-top: 155px;
    padding-bottom: 150px;
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &__title {
        font-size: 36px;
        font-weight: 700;
        font-family: 'Source Sans Pro';
        color: #6a6a6a;
    }
    &__subtitle {
        padding-top: 20px;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Open Sans';
        color: #999999;
    }
    &__line {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        .line-left {
            width: 80px;
            height: 1px;
            background-color: #999999;
            margin-right: 15px;
        }
        div {
            
            width: 7px;
            height: 7px;
            background-color: #e74c3c;
            border-radius: 50%;
        }
        .line-right {
            width: 80px;
            height: 1px;
            background-color: #999999;
            margin-left: 15px;
        }
    }
    &__flex {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: -15px;
        margin-right: -15px;
    }
    &__item {
        width: calc(100% / 3);
        margin-left: 8px;
        margin-right: 8px;
        &:hover {
            .prices__item-header {
                background-color: #e74c3c;
            }
            .prices__item-price__price {
                color: #e74c3c;
            }
            .prices__item-button {
                background-color: #e74c3c;
            }
        }
    }
    &__item-header {
        padding: 40px 40px 130px;
        background-color: #999;
        flex-direction: column;
        transition: background-color .3s;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__item-title {
        font-size: 24px;
        font-weight: 600;
        font-family: 'Open Sans';
        color: #fff;
    }
    &__item-price__wrapper {
        width: 150px;
        height: 150px;
        position: absolute;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        align-items: center;
        bottom: -38%;
        box-shadow: 0 0 0 11px rgba(244,245,249,.5);
        border-radius: 50%;
    }
    &__item-price__price {
        font-size: 39px;
        font-weight: 700;
        font-family: 'Source Sans Pro';
        color: #999999;
    }
    &__item-price__time {
        font-size: 13px;
        font-weight: 400;
        font-family: 'Source Sans Pro';
        color: #999999;
    }
    &__body {
        background-color: #f4f5f9;
        padding-top: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__item-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li {
            margin-bottom: 30px;
            font-size: 14px;
            font-weight: 400;
            font-family: 'Open Sans';
            color: #999999;
        }
        li:last-child {
            margin-bottom: 0;
        }
    }
    &__item-button {
        margin-bottom: 50px;
        margin-top: 50px;
        font-size: 12px;
        font-family: 'Open Sans';
        font-weight: 600;
        padding: 18px 30px;
        background-color: #999999;
        color: #fff;
        text-decoration: none;
        border-radius: 5px; 
        box-shadow: 0 2px 5px 1px rgba(0,0,0,.25);
    }
    @media screen and (max-width: 800px) {
        .prices {
            &__flex {
                flex-wrap: wrap;
            }
            &__item {
                margin-top: 20px;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .page-wrapper {
        .prices {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}