.stats {
    padding-top: 150px;
    padding-bottom: 140px;
    background-image: url(../img/stats-bg.jpg);
    background-size: cover;
    background-position: center;
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
    }
    &__item {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #f4f5f9;
        margin-left: 100px;
        &:first-child {
            margin-left: 0;
        }
    }
    &__img {
        margin-left: 10px;
        margin-bottom: 30px;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #f4f5f9;
        border-radius: 50%;
    }
    &__title {
        font-size: 30px;
        font-weight: 700;
        font-family: 'Source Sans Pro';
    }
    &__subtitle {
        font-size: 18px;
        font-weight: 400;
        font-family: 'Source Sans Pro';
    }
    @media screen and (max-width: 600px) {
        .stats {
            padding-top: 60px;
            padding-bottom: 50px;
            &__item {
                width: 45%;
                margin-bottom: 30px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .page-wrapper {
        .stats {
            padding-top: 50px;
            padding-bottom: 50px;
            &__item {
                margin-left: 0px;
            }
        }
    }
}